.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
   
}
.logo{
    width: 100px;
}

.nav-items > ul{
display: flex;
list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}
.res-card{
    margin:5px ;
    width: 250px;
    height: 380px;
    
    padding:10px ;
    

}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding: 10px;
}
.res-img{
    width: 100%;
    height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
.res-container{
    display:flex;
    flex-wrap:wrap ;
}